<div class="main">
  <div class="container">

    <mat-spinner *ngIf="loading == true"></mat-spinner>

    <div *ngIf="loading == false" class="header">
      <h1> {{ data.timezone }} </h1>
      <p> {{ data.currently.time  }} </p>
    </div>

    <div class="body">
      <div class="icon-canvas">
        <canvas id="icon1" width="128" height="128"></canvas>
      </div>

      <div *ngIf="loading == false" class="body-content">
        <h1> {{ data.currently.temperature }}<span>&#176;</span>F  </h1>
      </div>
    </div>

    <mat-divider *ngIf="loading == false"></mat-divider>
    
    <div *ngIf="loading == false" class="footer">
      <h3> {{ data.currently.summary }} </h3>
    </div> 

  </div>
</div>